<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="onur.TicariOtomasyon.dbo" connectionString="XpoProvider=MSSqlServer;data source=ONUR;integrated security=SSPI;initial catalog=TicariOtomasyon" />
        <add name="localhost_TicariOtomasyon_Connection" connectionString="XpoProvider=MSSqlServer;data source=ONUR;integrated security=SSPI;initial catalog=TicariOtomasyon" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>